<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "org.usd21.firstprinciples" versionCode="13" version = "1.1.0">

	<name>First Principles</name>

	<description>
	The elementary teachings, according to the scriptures of the Bible, about what it means to be a disciple of Jesus.
	</description>

	<author href="http://usd21.org/m/" email="firstprinciples@usd21.org">
	Kip McKean
	</author>

	<preference name="orientation" value="auto" />
	<preference name="android-installLocation" value="auto" />

	<preference name="prerendered-icon" value="true" />
	<icon src="icon.png" />
	<icon src="images/icons/chalkboard/57x57.png" gap:platform="ios" width="57" height="57" />
	<icon src="images/icons/chalkboard/72x72.png" gap:platform="ios" width="72" height="72" />
	<icon src="images/icons/chalkboard/114x114.png" gap:platform="ios" width="114" height="114" />
	<icon src="images/icons/chalkboard/36x36.png" gap:platform="android" gap:density="ldpi" width="36" height="36"/>
	<icon src="images/icons/chalkboard/48x48.png" gap:platform="android" gap:density="mdpi" width="48" height="48"/>
	<icon src="images/icons/chalkboard/72x72.png" gap:platform="android" gap:density="hdpi" width="72" height="72"/>
	<icon src="images/icons/chalkboard/96x96.png" gap:platform="android" gap:density="xhdpi" width="96" height="96"/>

	<access origin="*" />
	<preference name="permissions" value="none"/>
	<!--
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	-->

</widget>